---
import FbIcon from "../icons/social/FbIcon.astro";
import GhIcon from "../icons/social/GhIcon.astro";
import IgIcon from "../icons/social/IgIcon.astro";
import LkIcon from "../icons/social/LkIcon.astro";
import Button from "../Button.astro";
import IconDownload from "../icons/IconDownload.astro";
import IconMail from "../icons/IconMail.astro";

const primary = true;
---

<section class="mt-[106px] flex flex-col gap-6 w-full px-5 max-w-[420px] justify-center items-center mb-[100px]">
    <div class="overflow-hidden bg-neutral-200 rounded-full">
        <img src="/profile.webp"  alt="" width="110" height="110">
    </div>
    <h2 class="text-title-color text-xl">Hola, soy Jack ✌🏻</h2>
    <h1 class="text-title-color text-3xl sm:text-5xl text-center">Diseñador y desarrollador web</h1>
    <p class="text-zinc-600 text-center">Me especializo en diseño UI y desarrollo web <br> Listo para trabajar en tu proyecto</p>
    <div class="flex w-full gap-8 justify-center text-text-color">
        <FbIcon/>
        <IgIcon/>
        <LkIcon/>
        <GhIcon/>
    </div>

    <div class="flex w-full flex-col md:flex-row justify-center gap-4" >
        
        <Button text="Contáctame" primary={primary}>
            <IconMail slot="icon-left"/>
        </Button>
        <Button text="Descargar CV" primary={!primary}>
            <IconDownload slot="icon-left"/>
        </Button>
    </div>
</section>