---
import IconArrow from "../icons/IconArrow.astro"
import CardPortfolio from "./components/CardPortfolio.astro"
---

<section id="portafolio" class=" flex flex-col max-w-screen-xl p-8 w-full m-8 my-16 gap-8 items-start justify-center overflow-x-hidden">
    <section class="title flex flex-col gap-2">
        <h2 class="text-base md:text-xl text-subtitle-color">
            Portafolio
        </h2>

        <p class="text-2xl md:text-4xl text-title-color">
            Échale un vistazo a mis trabajos
        </p>
    </section>

    <section class="wrap-projects max-w-full flex flex-row flex-wrap overflow-x-scroll py-8 gap-10 pr-20 justify-center items-start">
        
        <CardPortfolio
            name="Grace Aesthetic"
            url="https://www.graceaesthetic.com"
            category="Desarrollo web"
            image="/project-one.png"
        >

        </CardPortfolio>

        <CardPortfolio
            name="Candela Organic"
            url="https://www.candelaorganic.com"
            category="Desarrollo web"
            image="/project-two.png"
        >

        </CardPortfolio>

        <CardPortfolio
            name="Plataforma Social Tangarana"
            url="https://www.pstangarana.com"
            category="Desarrollo web"
            image="/project-three.png"
        >

        </CardPortfolio>

        <CardPortfolio
            name="Grace Aesthetic"
            url="https://www.graceaesthetic.com"
            category="Desarrollo web"
            image=""
        >

        </CardPortfolio>


        </CardPortfolio>
        
    </section>
    
</section>

