---
import CardService from "./components/CardService.astro";
import IconDesign from "../icons/services/IconDesign.astro";
import IconWeb from "../icons/services/IconWeb.astro";
import IconApp from "../icons/services/IconApp.astro";
---

<section id="servicios" class=" flex flex-col max-w-screen-xl p-8 w-full m-8 my-16 gap-8 items-center justify-center overflow-x-hidden">
    <section class="title flex flex-col gap-2 items-center">
        <h2 
            class="flex justify-center items-center
            py-1 px-3 bg-white/50
            text-neutral-900 text-sm
            border border-neutral-200 rounded-full

            dark:text-white/80 dark:bg-slate-700/50 dark:border-slate-600
            "
        >
            Servicios
        </h2>

        <p 
            class="text-4xl text-neutral-900
            dark:text-white/80"
        >
            Calidad al mejor costo
        </p>
    </section>

    <section 
        class="wrap-services max-w-full flex flex-row flex-wrap overflow-x-scroll py-8 justify-center gap-4 items-stretch">
        <CardService
            title="Diseño UI/UX"
            type="primary"
            text="Me especializo en crear interfaces intuitivas y visualmente atractivas que hacen que cada interacción sea fácil y agradable. Combinando estilo con funcionalidad."
            >
            <IconDesign/>
        </CardService>

        <CardService
            title="Desarrollo Web"
            type="secondary"
            text="Desde sitios web que se ven geniales en cualquier dispositivo hasta aplicaciones web que se ejecutan sin problemas. Haciendo uso de lo último en tecnologías."
            >
            <IconWeb/>
        </CardService>

        <CardService 
            title="Tienda virtual"
            type="alternate"
            text="Ya sea para iOS o Android. Utilizo herramientas modernas para crear aplicaciones que sean rápidas, fáciles de usar y que hagan la vida digital efectiva."
            >
            <IconApp/>
        </CardService>
    </section>
    
</section>