<section class="w-[1280px] h-[650px] py-20 flex-col justify-center items-center gap-8 inline-flex">
    <div class="flex-col justify-start items-center gap-2 flex">
        <div class="self-stretch text-center text-stone-500 text-xl font-normal font-['Averta Demo PE']">Sobre mí</div>
        <div class="text-neutral-900 text-[40px] font-normal font-['Averta Demo PE']">Más información acerca de mí</div>
    </div>
    <div class="h-[262px] flex-col justify-center items-center gap-3 flex">
        <div class="text-neutral-900 text-2xl font-normal font-['Averta Demo PE']">Habilidades técnicas</div>
        <div class="w-[676px] h-[220px] justify-center items-center inline-flex">
            <div class="p-[25px] border-r border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-r border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-l border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-r border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-l border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-r border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-l border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-r border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-l border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-b border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
            <div class="p-[25px] border-l border-neutral-200 flex-col justify-center items-center inline-flex">
                <div class="w-[60px] h-[60px] relative"></div>
            </div>
        </div>
    </div>
    <div class="text-center text-neutral-900 text-2xl font-normal font-['Averta Demo PE']">Habilidades profesionales</div>
    <div class="justify-center items-center gap-8 inline-flex">
        <div class="text-neutral-600 text-base font-normal font-['Averta Demo PE']">Trabajo en equipo</div>
        <div class="text-neutral-600 text-base font-normal font-['Averta Demo PE']">Liderazgo</div>
        <div class="text-neutral-600 text-base font-normal font-['Averta Demo PE']">Comunicación</div>
        <div class="text-neutral-600 text-base font-normal font-['Averta Demo PE']">Escucha activa</div>
    </div>
</section>