---
import IconAstro from "../icons/skills/IconAstro.astro";
import IconCsharp from "../icons/skills/IconCsharp.astro";
import IconCSS from "../icons/skills/IconCSS.astro";
import IconFigma from "../icons/skills/IconFigma.astro";
import IconHTML from "../icons/skills/IconHTML.astro";
import IconJava from "../icons/skills/IconJava.astro";
import IconJS from "../icons/skills/IconJS.astro";
import IconMySQL from "../icons/skills/IconMySQL.astro";
import IconPHP from "../icons/skills/IconPHP.astro";
import IconPython from "../icons/skills/IconPython.astro";
import IconReact from "../icons/skills/IconReact.astro";
import IconWP from "../icons/skills/IconWP.astro";
import ItemSkill from "./components/ItemSkill.astro";
---

<section id="sobre-mi" class="flex flex-col py-20 self-stretch justify-center items-center gap-8">
    <div class="title-section flex flex-col gap-2 items-center">
        <h2 class="text-base md:text-xl text-text-color ">Sobre mí</h2>
        <p class="text-center text-2xl md:text-4xl text-title-color">Más información acerca de mí</p>
    </div>
    
    <section class="flex flex-col justify-center items-center gap-3">
        <h3 class="text-title-color text-lg md:text-2xl">Habilidades técnicas</h3>
        <div class="flex justify-center flex-wrap max-w-[676px]">
            <ItemSkill>
                <IconHTML/>
            </ItemSkill>
    
            <ItemSkill>
                <IconCSS/>
            </ItemSkill>
    
            <ItemSkill>
                <IconJS/>
            </ItemSkill>

            <ItemSkill>
                <IconPHP/>
            </ItemSkill>

            <ItemSkill>
                <IconWP/>
            </ItemSkill>

            <ItemSkill>
                <IconAstro/>
            </ItemSkill>

            <ItemSkill>
                <IconReact/>
            </ItemSkill>

            <ItemSkill>
                <IconPython/>
            </ItemSkill>

            <ItemSkill>
                <IconFigma/>
            </ItemSkill>

            <ItemSkill>
                <IconCsharp/>
            </ItemSkill>

            <ItemSkill>
                <IconJava/>
            </ItemSkill>

            <ItemSkill>
                <IconMySQL/>
            </ItemSkill>
    
           

        </div>
    </section>

    <section class="flex flex-col justify-center items-center gap-3">
        <h3 class=" text-lg md:text-2xl text-title-color">Habilidades profesionales</h3>
        <ul class="flex flex-col md:flex-row gap-8 items-center py-2 text-subtitle-color">
            <li>Trabajo en equipo</li>
            <li>Liderazgo</li>
            <li>Comunicación</li>
            <li>Escucha activa</li>
        </ul>
    </section>

</section>