---
import IconAstro from "../icons/skills/IconAstro.astro";
import IconCsharp from "../icons/skills/IconGit.astro";
import IconCSS from "../icons/skills/IconCSS.astro";
import IconFigma from "../icons/skills/IconFigma.astro";
import IconHTML from "../icons/skills/IconHTML.astro";
import IconTS from "../icons/skills/IconTS.astro";
import IconJS from "../icons/skills/IconJS.astro";
import IconLaravel from "../icons/skills/IconLaravel.astro";
import IconPHP from "../icons/skills/IconPHP.astro";
import IconNext from "../icons/skills/IconNext.astro";
import IconReact from "../icons/skills/IconReact.astro";
import IconWP from "../icons/skills/IconWP.astro";
import ItemSkill from "./components/ItemSkill.astro";
---

<section 
    id="sobre-mi" 
    class="flex flex-col 
        py-20 gap-8
        self-stretch justify-center items-center 
        
        "    
    >
    <div 
        class="title-section flex flex-col gap-2 items-center"
    >

        <h2 
            class="flex justify-center items-center
            py-1 px-3 bg-white/50
            text-neutral-900 text-sm
            border border-neutral-200 rounded-full

            dark:text-white/80 dark:bg-slate-700/50 dark:border-slate-600
            "
        >
            Sobre mí
        </h2>

        <p 
            class="text-4xl text-neutral-900
            dark:text-white/80"
        >
            Más información acerca de mí
        </p>
    </div>
    
    <section 
        class="flex flex-col justify-center items-center gap-3">

        <h3 
            class="text-neutral-600 font-light text-xl
            dark:text-neutral-300"
        >
            Habilidades técnicas
        </h3>

        <div class="flex justify-center flex-wrap max-w-[676px]">
            <ItemSkill>
                <IconHTML/>
            </ItemSkill>
    
            <ItemSkill>
                <IconCSS/>
            </ItemSkill>
    
            <ItemSkill>
                <IconJS/>
            </ItemSkill>

            <ItemSkill>
                <IconTS/>
            </ItemSkill>

            <ItemSkill>
                <IconWP/>
            </ItemSkill>

            <ItemSkill>
                <IconAstro/>
            </ItemSkill>

            <ItemSkill>
                <IconReact/>
            </ItemSkill>

            <ItemSkill>
                <IconNext/>
            </ItemSkill>

            <ItemSkill>
                <IconFigma/>
            </ItemSkill>

            <ItemSkill>
                <IconCsharp/>
            </ItemSkill>

            <ItemSkill>
                <IconPHP/>
            </ItemSkill>

            <ItemSkill>
                <IconLaravel/>
            </ItemSkill>
    
           

        </div>
    </section>

</section>