---
import Button from "../../Button.astro";
import IconArrow from "../../icons/IconArrow.astro";


interface Props {
    title: string,
    text: string,
    type: string,
}

const {title,text,type} = Astro.props;
let className = ""
const typeButton = false;
if(type==='primary'){
    className ='bg-[rgb(255,156,6,.1)] border-[#FF9C06] text-[#FF9C06]'
}else if(type==='secondary'){
    className ='bg-[#0084CE1a] border-[#0084CE] text-[#0084CE]'
}else if(type==='alternate'){
    className ='bg-[#D027461a] border-[#D02746] text-[#D02746]'
}
---

<article class=`flex bg-white/50 backdrop-blur-sm grow max-w-screen-md flex-col w-80 gap-5 p-5 justify-center items-start border border-border-button rounded-2xl hover:shadow-lg transition-all`>
    <div class="flex gap-4 items-center w-full">
        <div class=`${className} flex items-center justify-center border w-12 h-12 rounded-md`>
            <slot/>
        </div>
    
        <h2 class="text-xl text-title-color">{title}</h2>
    </div>
    

    <p class="text-text-color">
        {text}
    </p>
    <Button
        primary={typeButton}
        text="Más información"
        >
        <IconArrow slot="icon-right"/>
    </Button>
</article>