---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Skills from '../components/sections/Skills.astro';
import Services from '../components/sections/Services.astro';
import Contact from '../components/sections/Contact.astro';
import Portfolio from '../components/sections/Portfolio.astro';
import Work from '../components/sections/Work.astro';
---

<Layout title="Jack TP">
	<main class="z-10 flex flex-col items-center w-full justify-center ">
		<Hero/>
		<Skills/>
		<Services/>
		<Work/>
		<Portfolio/>
		<Contact/>
	</main>
</Layout>


