---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Skills from '../components/sections/Skills.astro';
import Contact from '../components/sections/Contact.astro';
import Portfolio from '../components/sections/Portfolio.astro';
---

<Layout title="Jack TP">
	<main class="z-10 flex flex-col items-center w-full justify-center">
		<Hero/>
		<Skills/>
		<Portfolio/>
		<Contact/>
	</main>
</Layout>


