---
interface Props {
    text: string;
    primary: boolean;
}

const {text, primary} = Astro.props;

const className = primary ? "bg-title-color text-white hover:bg-[#383838]":"border border-border-button bg-white hover:bg-[#F2F2F2]"

const darkMode = ""

---
<button class=`flex justify-center min-w-fit items-center px-8 h-11 rounded-md gap-2.5 transition-all ${className}`>
    <slot name="icon-left"/>
    {text}
    <slot name="icon-right"/>
</button>