---
import FbIcon from "./icons/social/FbIcon.astro";
import GhIcon from "./icons/social/GhIcon.astro";
import IgIcon from "./icons/social/IgIcon.astro";
import LkIcon from "./icons/social/LkIcon.astro";

let date = new Date;


---
<footer class="footer flex w-full m-0 max-w-screen-xl mx-auto flex-col p-8 items-center justify-center gap-8 self-stretch">

    <section class="newsletter-section flex justify-between items-center py-16 self-stretch">

        <article class="flex flex-col gap-2 justify-center items-start">
            <h4 class="text-subtitle-color text-xl">Boletín Mensual</h4>
            <p class="text-title-color text-3xl">Suscríbete para recibir mis últimos blogs</p>
        </article>
        
        <form action="" method="post" class="flex justify-center items-center gap-2.5">
            <input class="bg-white border border-border-button rounded-md w-[240px] py-2.5 px-2 placeholder:text-input-placeholder text-base outline-border-button focus:outline focus:outline-gray-300 transition-all " type="email" placeholder="Escribe tu correo">
            <input class="py-2.5 px-6 bg-title-color text-white rounded-md hover:bg-hover-button transition-all cursor-pointer" type="submit" value="Suscríbete">
        </form>

    </section>

    <section class="copy-section flex pt-8 justify-between items-center self-stretch  border-t-[1px] border-[#E4E4E4]">

        <span class="text-title-color">© Copyright  {date.getFullYear()} | Jack Troncos</span>
        <div class="footer-social-icons flex gap-4">
            <FbIcon/>
            <IgIcon/>
            <LkIcon/>
            <GhIcon/>
        </div>
    </section>
</footer>