---
import NavItem from "./ItemNav.astro";
import IconMenu from "./icons/IconMenu.astro";

---

<header class="header flex fixed w-full m-0 max-w-screen-xl mx-auto px-5 md:px-8 justify-between items-center h-16 box-border z-50">
        <span>jacktroncos20@gmail.com</span>

        <label for="menu" class="self-center cursor-pointer py-2 hover:text-text-color transition-all active:scale-75 lg:hidden"><IconMenu/></label>
        <input id="menu" class="hidden" type="checkbox"></input>

        <nav class="nav-menu hidden lg:flex lg:h-16  lg:justify-center lg:items-center">
            <NavItem link="#sobre-mi"> Sobre mí</NavItem>
            <NavItem link="#servicios"> Servicios</NavItem>
            <NavItem link="#portafolio"> Portafolio</NavItem>
            <NavItem link="#contacto"> Contacto</NavItem>
        </nav>
</header>
<script>
    const header = document.querySelector('header');
     window.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            header.classList.add('bg-white');
            header.classList.add('border-b');
        } else {
            header.classList.remove('bg-white');
            header.classList.remove('border-b');
        }
    });

    
</script>

<style>

    @media (max-width:1023px) {
        .nav-menu{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 64px;
            left: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            clip-path: inset(0 0 100% 0);
            background: white;
            padding: 16px 32px;
            gap: 24px;
            border-bottom: 1px solid #eaeaea;
            transition:all .26s ease-in-out;
        }
        #menu:checked + .nav-menu{
        
        clip-path: inset(0 0 0 0);

        
    }
    }
    
</style>