---
import Switch from "./mode/Switch.astro";
import NavItem from "./NavItem.astro";
import Menu from "./lang/Menu.astro";

---

<header class="header flex fixed w-full m-0 max-w-screen-xl mx-auto px-8 justify-between items-center  box-border z-50">
        <span>jacktroncos20@gmail.com</span>

    <nav class="flex h-16 gap-10 justify-center items-center">
        <NavItem link="#sobre-mi"> Sobre mí</NavItem>
        <NavItem link="#servicios"> Servicios</NavItem>
        <NavItem link="#portafolio"> Portafolio</NavItem>
        <NavItem link="#contacto"> Contacto</NavItem>
    </nav>

    <!-- <div class="flex gap-6 items-center">
        <Menu/>
        <Switch/>
    </div> -->
</header>

<script>
    const header = document.querySelector('header');
     window.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            header.classList.add('bg-white');
            header.classList.add('border-b');
        } else {
            header.classList.remove('bg-white');
            header.classList.remove('border-b');
        }
    });
</script>
