---
import NavItem from "./ItemNav.astro";
import IconMenu from "./icons/IconMenu.svg";
import MenuHeader from "./MenuHeader.jsx"

---

<header class="header flex fixed w-full m-0 max-w-screen-xl mx-auto px-5 md:px-8 justify-between items-center h-16 box-border z-50">
        <span class="text-">Jack TP</span>
        <MenuHeader client:load/>
  
</header>
<script>
    const header = document.querySelector('header');
     window.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            header.classList.add('bg-white');
            header.classList.add('border-b');
        } else {
            header.classList.remove('bg-white');
            header.classList.remove('border-b');
        }
    });

    
</script>
