---
import FbIcon from "./icons/social/FbIcon.astro";
import GhIcon from "./icons/social/GhIcon.astro";
import IgIcon from "./icons/social/IgIcon.astro";
import LkIcon from "./icons/social/LkIcon.astro";
import Button from "./Button.astro";
---

<section class="mt-[106px]">
    <img src="" alt="">
    <h2>Hola, soy Jack</h2>
    <h1>Diseñador y desarrollador web</h1>
    <p>Me especializo en diseño UI y desarrollo web <br> Listo para trabajar en tu proyecto</p>
    <div>
        <FbIcon/>
        <IgIcon/>
        <LkIcon/>
        <GhIcon/>
    </div>

    <div>
        
        <Button/>
        <Button/>
    </div>
</section>