---

interface Props {
    link: string; 
}

const {link} = Astro.props;
---
<a
    class="flex items-center box-border py-2 px-4 mb-[-1px] text-menu-text hover:bg-neutral-100 rounded-md hover:text-title-color transition-all"
    href={link}
    >
    <slot />
</a>
