<a href="https://www.facebook.com/jacktp.dev/"><svg width="30" height="32" viewBox="0 0 30 32" fill="none">
  <path d="M8.74609 13.3333V18.6667H12.4961V28H17.4961V18.6667H21.2461L22.4961 13.3333H17.4961V10.6667C17.4961 10.313 17.6278 9.97391 17.8622 9.72386C18.0966 9.47381 18.4146 9.33333 18.7461 9.33333H22.4961V4H18.7461C17.0885 4 15.4988 4.70238 14.3267 5.95262C13.1546 7.20286 12.4961 8.89856 12.4961 10.6667V13.3333H8.74609Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a>