
<a href="https://www.instagram.com/jacktp.dev/">
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
    <g clip-path="url(#clip0_579_423)">
      <path d="M5.33398 10.6663C5.33398 9.25185 5.89589 7.8953 6.89608 6.89511C7.89628 5.89491 9.25283 5.33301 10.6673 5.33301H21.334C22.7485 5.33301 24.105 5.89491 25.1052 6.89511C26.1054 7.8953 26.6673 9.25185 26.6673 10.6663V21.333C26.6673 22.7475 26.1054 24.1041 25.1052 25.1042C24.105 26.1044 22.7485 26.6663 21.334 26.6663H10.6673C9.25283 26.6663 7.89628 26.1044 6.89608 25.1042C5.89589 24.1041 5.33398 22.7475 5.33398 21.333V10.6663Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M12 16C12 17.0609 12.4214 18.0783 13.1716 18.8284C13.9217 19.5786 14.9391 20 16 20C17.0609 20 18.0783 19.5786 18.8284 18.8284C19.5786 18.0783 20 17.0609 20 16C20 14.9391 19.5786 13.9217 18.8284 13.1716C18.0783 12.4214 17.0609 12 16 12C14.9391 12 13.9217 12.4214 13.1716 13.1716C12.4214 13.9217 12 14.9391 12 16Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M22 10V10.0178" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0_579_423">
        <rect width="32" height="32" rx="16" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</a>