<a href="https://www.linkedin.com/in/jack-troncos-pizarro-357545254/">
  <svg width="30" height="32" viewBox="0 0 30 32" fill="none">
    <g clip-path="url(#clip0_579_428)">
      <path d="M5 7.99967C5 7.29243 5.26339 6.61415 5.73223 6.11406C6.20107 5.61396 6.83696 5.33301 7.5 5.33301H22.5C23.163 5.33301 23.7989 5.61396 24.2678 6.11406C24.7366 6.61415 25 7.29243 25 7.99967V23.9997C25 24.7069 24.7366 25.3852 24.2678 25.8853C23.7989 26.3854 23.163 26.6663 22.5 26.6663H7.5C6.83696 26.6663 6.20107 26.3854 5.73223 25.8853C5.26339 25.3852 5 24.7069 5 23.9997V7.99967Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10 14.667V21.3337" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10 10.667V10.6795" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M15 21.3337V14.667" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M20 21.3337V17.3337C20 16.6264 19.7366 15.9481 19.2678 15.448C18.7989 14.9479 18.163 14.667 17.5 14.667C16.837 14.667 16.2011 14.9479 15.7322 15.448C15.2634 15.9481 15 16.6264 15 17.3337" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0_579_428">
        <rect width="30" height="32" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</a>