
<div>
    <button class="w-[120px] h-[33px] flex items-center gap-2.5">
    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M2.66602 3.33333H7.33268M5.99935 2V3.33333C5.99935 6.27867 4.50668 8.66667 2.66602 8.66667" stroke="#171717" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.33203 6C3.33203 7.42933 5.30003 8.60533 7.7987 8.66667M7.9987 13.3333L10.6654 7.33333L13.332 13.3333M12.732 12H8.5987" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
    
          <span>
            Español
          </span>
    
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_658_22)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47221 10.4722C8.34719 10.5972 8.17766 10.6674 8.00088 10.6674C7.8241 10.6674 7.65456 10.5972 7.52955 10.4722L3.75821 6.70088C3.69454 6.63938 3.64375 6.56582 3.60881 6.48448C3.57387 6.40315 3.55548 6.31567 3.55471 6.22715C3.55394 6.13863 3.57081 6.05084 3.60433 5.96891C3.63785 5.88698 3.68735 5.81254 3.74995 5.74995C3.81254 5.68735 3.88698 5.63785 3.96891 5.60433C4.05084 5.57081 4.13863 5.55394 4.22715 5.55471C4.31567 5.55548 4.40315 5.57387 4.48448 5.60881C4.56582 5.64375 4.63938 5.69454 4.70088 5.75821L8.00088 9.05821L11.3009 5.75821C11.4266 5.63677 11.595 5.56958 11.7698 5.5711C11.9446 5.57262 12.1118 5.64273 12.2354 5.76633C12.359 5.88994 12.4291 6.05715 12.4307 6.23195C12.4322 6.40674 12.365 6.57515 12.2435 6.70088L8.47221 10.4722Z" fill="currentColor"/>
            </g>
            <defs>
              <clipPath id="clip0_658_22">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg>
    
        </button>

        <div class="hidden">
            <button>Inglés</button>
        </div>
</div>
